{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="/static/css/documentos.css">
{% endblock %}


{% block body %}
<div class="container">


    <h1>Lista de Documentos</h1>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Código</th>
                <th>Descripción</th>
                <th>Revisión</th>
                <th>Ultima modificacion</th>
            </tr>
        </thead>
        <tbody>
            {% for documento in documentos %}
            <tr>
                <td>{{ documento.id }}</td>
                <td>{{ documento.codigo }}</td>
                
                <td><a href="{{ documento.link_doc }}" target="_blank">{{ documento.descripcion }}</a></td>
                <td>{{ documento.revision }}</td>
                <td>{{ documento.ultima_mod }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}