
{% block style %}
<link rel="stylesheet" href="/static/css/navbar.css">
<link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">

{% endblock %}





<nav class="navbar">
    <div class="logo">
        <a href="/home">
            <img src="/static/images/lechuza.png" alt="LechuCAO">
        LechuCAO</a>
    </div>
    <ul class="nav-links">
        
        <li><a href="/docs_input">Ingreso de Documentación</a></li>
        <li><a href="/">Cerrar Sesión</a></li>
    </ul>
</nav>

